<div id="content" class="content-statistical mt-5">

    <div class="statistic-info container-fluid col-lg-10 col-md-12 col-sm-12">
        <!-- Page Heading -->
        <div class="d-sm-flex justify-content-center py-2">
            <h1 class="h2 mb-0 text-gray-800 text-center">Quản lý thông tin thanh toán</h1>
        </div>

        <div class="mt-3 mb-4">
            <table class="table table-bordered text-center" id="payment-Managerment-Table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id bệnh nhân</th>
                        <th scope="col">Dư nợ</th>
                        <th scope="col">Ngày giao dịch gần nhất</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thông báo<a href="" class="p-2 ml-2"><i class="far fa-bell fs-5"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each paymentAccounts}}
                    <tr>
                        <td><a href="/patient/detail?id={{id_benh_nhan}}">{{id_benh_nhan}}</a></td>
                        <td>{{formatMoney du_no}}</td>
                        <td>{{formatDate ngay_giao_dich_gan_nhat "long"}}</td>
                        <td>{{trang_thai}}</td>
                        <td class="text-center"><a href="" class="p-2"><i class="far fa-bell fs-4"></i></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>