<div id="content" class="content-statistical">

    <div class="statistic-info container-fluid col-lg-8 col-md-10 col-sm-12">
        <!-- Page Heading -->
        <div class="d-sm-flex justify-content-center py-2">
            <h1 class="h2 mb-0 text-gray-800 text-center">Quản lý thông tin thanh toán</h1>
        </div>

        <div class="mt-2 mb-4">
            <table class="table table-bordered" id="payment-Managerment-Table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id tài khoản thanh toán</th>
                        <th scope="col">Id bệnh nhân</th>
                        <th scope="col">Dư nợ</th>
                        <th scope="col">Ngày giao dịch gần nhất</th>
                        <th scope="col">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each payments}}
                    <tr>
                        <th scope="row">{{id_tai_khoan_thanh_toan}}</th>
                        <td><a href="">{{id_benh_nhan}}</a></td>
                        <td>{{du_no}}</td>
                        <td>{{ngay_giao_dich_gan_nhat}}</td>
                        <td>{{trang_thai}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>