<head>
    {{#each script}}
    <script src = "{{this}}"></script>
    {{/each}}
</head>
<body>
    
    <div class ="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/patient">Home</a>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row" style="padding-top: 60px;">
        <div class="col-6">
            <h1>Covid patient list</h1>
        </div>

    </div>

    <table class="table table-bordered" id="AccountTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tên User</th>
                <th scope="col">Role</th>
                <th scope="col">Hoạt động cuối</th>
                <th scope="col">Thời gian hoạt động cuối</th>
                <th scope="col">Trạng thái tài khoản</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>

            {{#each admin}}
            <tr>
                <td>{{user_name}}</td>
                <td>{{role}}</td>
                <td>{{last_action}}</td>
                <td>{{action_date}}</td>
                <td>{{status}}</td>
                <td class="text-end">
                    <a href="/patient/detail?id={{this.id_tai_khoan}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>
                        </a>
                    <a href="/patient/detail?id={{this.id_tai_khoan}}" type="button" class="btn btn-light btn-small"><i class="bi bi-lock-fill"></i>
                        </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>

</body>