<div class="row mb-3 mt-5">
    <div class="col-6">
        <h1> Danh sách nhu yếu phẩm</h1>
    </div>
</div>
<div class="row mb-3 mt-5">
    <div class="row">
        <form action="/product/filter?page=1" method="GET" class="form-inline md-form">
            <div class="col-2 m-0 pl-0">
                <input class="form-control mr-sm-2 border border-secondary " type="text" placeholder="Search"
                    aria-label="Search" name="search" value="{{search}}" style="width: 100%;">
            </div>
            <div class="col-3">
                <select name="price" class="form-select form-select-md border border-secondary ">
                    <option {{#cond price 0}} selected {{/cond}} value="0">Giá: Tất cả</option>
                    <option {{#cond price 1}} selected {{/cond}} value="1">Giá: 1 - 100000</option>
                    <option {{#cond price 100000}} selected {{/cond}}value="100000">Giá: 100000 - 200000</option>
                    <option {{#cond price 200000}} selected {{/cond}}value="200000">Giá: 200000 - 300000</option>
                    <option {{#cond price 300000}} selected {{/cond}}value="300000">Giá: 300000 - 400000</option>
                    <option {{#cond price 400000}} selected {{/cond}}value="400000">Giá: 400000 - 50000</option>
                    <option {{#cond price 500000}} selected {{/cond}}value="500000">Giá: 500000 - 600000</option>
                </select>
            </div>
            <div class="col-3">
                <select name="sortby" class="form-select form-select-md border border-secondary ">
                    <option {{#cond sortby "id_nhu_yeu_pham" }} selected {{/cond}} value="id_nhu_yeu_pham">Sắp xếp: Mặc
                        định
                    </option>
                    <option {{#cond sortby "gia_tien" }} selected {{/cond}} value="gia_tien">Sắp xếp: Giá tiền</option>
                    <option {{#cond sortby "ten_sanpham" }} selected {{/cond}} value="ten_sanpham">Sắp xếp: Tên</option>
                    <option {{#cond sortby "con_lai" }} selected {{/cond}} value="con_lai">Sắp xếp: Số lượng</option>
                    <option {{#cond sortby "status" }} selected {{/cond}} value="status">Sắp xếp: Trạng thái</option>
                </select>
            </div>
            <div class="col-2">
                <select name="asc" class="form-select form-select-md border border-secondary">
                    <option {{#cond asc "asc" }} selected {{/cond}} value="asc">Tăng dần</option>
                    <option {{#cond asc "desc" }} selected {{/cond}}value="desc">Giảm dần</option>
                </select>

            </div>
            <div class="col-1">
                <button class="btn btn-outline-primary align-self-center" type="submit"><i class="fa fa-search fa-lg"
                        aria-hidden="true"></i></button>
            </div>
            <div class="col-1 d-flex flex-row-reverse d-inline">
                <a href="/product/add">
                    <button type="button" class="btn btn-primary d-flex "><i style="margin-top: 5px;"
                            class="fas fa-plus mr-2"></i>Thêm
                    </button>
                </a>
            </div>
        </form>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            {{#each products}}
            <div class="col p-2">
                <div
                    class="cus-card h-100 w-100 shadow-sm border border-{{#cond status 1}}warning{{/cond}}{{#cond status 0}}danger{{/cond}}">
                    <img src={{url}} class="card-img-top" alt="...">
                    {{#cond status 0}} <div class="label-top shadow-sm">Vô hiệu hóa</div>{{/cond}}
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span
                                class="float-start badge rounded-pill bg-success">{{#formatMoney gia_tien}}
                                {{/formatMoney}}
                                VND</span>
                            <span class="float-end"><a href="#" class="small text-muted">Số lượng:
                                    {{con_lai}}</a></span>
                        </div>
                        <h5 class="card-title">{{ten_sanpham}}</h5>
                        <h6 class="card-title">{{mo_ta}}</h6>
                        <div class="text-center my-4"> <a href="/product/detail/{{id_nhu_yeu_pham}}"
                                class="btn btn-warning">Chi tiết</a> </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <nav aria-label="Page navigation example">
        {{{paginateHelper pagination paginationClass="pagination"}}}
    </nav>
</div>