<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tables - SB Admin</title>
    {{#each script}}
    <script src="{{this}}"></script>
    {{/each}}
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav_content" style="margin-top: 60px;">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Tables</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Thông tin chi tiết của bệnh nhân <b> {{patient.ho_ten}} / CMND:
                            {{patient.cmnd}} </b></li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        DataTables is a third party plugin that is used to generate the demo table below. For more
                        information about DataTables, please visit the
                        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                        .
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Lịch sử điều trị của bệnh nhân <b> {{patient.ho_ten}} / CMND: {{patient.cmnd}} </b>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered" id="lsDieuTri">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Tên bệnh viện</th>
                                    <th>Vị trí bệnh viện</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày di chuyển</th>
                                    <th>Ngày cập nhật thông tin</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Tên bệnh viện</th>
                                    <th>Vị trí bệnh viện</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày di chuyển</th>
                                    <th>Ngày cập nhật thông tin</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{#each detail}}
                                <tr>
                                    <td>{{tennoidieutri}}</td>
                                    <td>{{tinh}}, {{huyen}}, {{xa}}</td>
                                    <td>{{status}}</td>
                                    <td>{{ngay_di_chuyen}}</td>
                                    <td>{{ngay_cap_nhat}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Người bị <b> {{patient.ho_ten}} / CMND: {{patient.cmnd}} </b> lây bệnh
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered" id="nguoi_lien_quan_down">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Tên đầy đủ</th>
                                    <th scope="col">CMND</th>
                                    <th scope="col">Năm sinh</th>
                                    <th scope="col">Nơi tiếp xúc</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each trailDown}}
                                <tr>
                                    <td>{{ho_ten}}</td>
                                    <td>{{cmnd}}</td>
                                    <td>{{nam_sinh}}</td>
                                    <td>{{noi_tiep_xuc_tinh}}, {{noi_tiep_xuc_huyen}}, {{noi_tiep_xuc_xa}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Người liên đới trên của bệnh nhân <b> {{patient.ho_ten}} / CMND: {{patient.cmnd}} </b>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered" id="nguoi_lien_quan_up">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Tên đầy đủ</th>
                                    <th scope="col">CMND</th>
                                    <th scope="col">Năm sinh</th>
                                    <th scope="col">Nơi tiếp xúc</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each trailUp}}
                                <tr>
                                    <td>{{ho_ten}}</td>
                                    <td>{{cmnd}}</td>
                                    <td>{{nam_sinh}}</td>
                                    <td>{{noi_tiep_xuc_tinh}}, {{noi_tiep_xuc_huyen}}, {{noi_tiep_xuc_xa}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
        </main>


</body>