<div class="container-fluid mt-5">
    <h1 class="mt-4">Chi tiết Gói Nhu Yếu Phẩm</h1>
    <button type="button" class="btn btn-lg btn-secondary align-self-center mb-3" onclick="goBack()">Trở
        lại</button>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="title">Tên Gói Nhu yếu phẩm</label>
                    <input type="text" class="form-control" readonly id="title" value='{{package.ten_goi}}'>
                </div>
                <div class="form-group">
                    <label for="basePrice">Thời gian tối thiểu đặt hàng</label>
                    <input type="text" class="form-control" readonly id="basePrice"
                        value='{{package.thoi_gian}} {{package.muc_gioi_han_goi_string}}'>
                </div>
                <div class="form-group">
                    <label for="description">Nhu yếu phẩm</label>
                    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                            {{#each products}}
                            <div class="col p-2">
                                <div
                                    class="cus-card h-100 w-100 shadow-sm border border-{{#cond status 1}}warning{{/cond}}{{#cond status 0}}danger{{/cond}}">
                                    <img src={{url}} class="card-img-top">
                                    {{#cond status 0}} <div class="label-top shadow-sm">Vô hiệu hóa</div>{{/cond}}
                                    <div class="card-body">
                                        <div class="clearfix mb-3"> <span
                                                class="float-start badge rounded-pill bg-success">{{#formatMoney
                                                gia_tien}}
                                                {{/formatMoney}}
                                                VND</span>
                                            <span class="float-end"><a href="#" class="small text-muted">Số lượng:
                                                    {{con_lai}}</a></span>
                                        </div>
                                        <h5 class="card-title">{{ten_sanpham}}</h5>

                                        <h6 class="card-title">Mô tả: <span>{{mo_ta}}</span>
                                        </h6>
                                        <br />
                                        <p class="card-title">Có thể mua tối đa {{gioi_han_san_pham}} sản phẩm</p>

                                        <div class="text-center my-4"> <a href="/product/detail/{{id_nhu_yeu_pham}}"
                                                class="btn btn-warning">Chi tiết</a> </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{#cond role "manager"}}
                <div class="d-flex ">
                    <a type="button" href="/product-package/edit/{{package.id_goi_nhu_yeu_pham}}"
                        class="btn btn-lg btn-primary align-self-center mr-5">Chỉnh
                        sửa</a>
                    {{#cond package.status 1}}
                    <button type="button" class="btn btn-lg btn-danger align-self-center mr-5" data-toggle="modal"
                        data-target="#removeModal">Vô hiệu hóa</button>
                    <!-- Modal -->
                    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Vô hiệu gói hóa nhu yếu phẩm
                                    </h5>
                                    <button type="button" class="btn-danger" data-dismiss="modal" aria-label="Close">
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn vô hiệu hóa gói nhu yếu phẩm này không ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                                    <a class="btn btn-danger "
                                        href="/product-package/disable/{{package.id_goi_nhu_yeu_pham}}">Có</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/cond }}
                    {{#cond package.status 0}}
                    <button type="button" class="btn btn-lg btn-success align-self-center mr-5" data-toggle="modal"
                        data-target="#removeModal">Kích hoạt</button>
                    <!-- Modal -->
                    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Kích hoạt gói nhu yếu phẩm
                                    </h5>
                                    <button type="button" class="btn-success" data-dismiss="modal" aria-label="Close">
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn kích hoạt gói nhu yếu phẩm này không ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                                    <a class="btn btn-success "
                                        href="/product-package/enable/{{package.id_goi_nhu_yeu_pham}}">Có</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/cond}}

                </div>
                {{/cond}}
                {{#cond role "patient"}}
                <div class="d-flex ">
                    <a type="button" href="#" class="btn btn-lg btn-primary align-self-center mr-5">Mua gói</a>
                </div>
                {{/cond}}
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>