<div class="row mb-3 mt-3">
    <div class="col-6">
        <h1> Danh sách gói nhu yếu phẩm</h1>
    </div>
</div>
<div class="row mb-3 mt-3">
    <div class="row">
        <form action="/product-package/filter?page=1" method="GET" class="form-inline md-form">
            <div class="col-2 m-0 pl-0">
                <input class="form-control mr-sm-2 border border-secondary " type="text" placeholder="Search"
                    aria-label="Search" name="search" value="{{search}}" style="width: 100%;">
            </div>
            <div class="col-3">
                <select name="period" class="form-select form-select-md border border-secondary ">
                    <option {{#cond period -1}} selected {{/cond}} value="-1">Thời gian: Tất cả</option>
                    <option {{#cond period 0}} selected {{/cond}} value="0">Thời gian: Ngày</option>
                    <option {{#cond period 1}} selected {{/cond}}value="1">Thời gian: Tuần</option>
                    <option {{#cond period 2}} selected {{/cond}}value="2">Thời gian: Tháng</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="sortby" class="form-select form-select-md border border-secondary ">
                    <option {{#cond sortby "id_goi_nhu_yeu_pham" }} selected {{/cond}} value="id_goi_nhu_yeu_pham">Sắp
                        xếp: Mặc
                        định
                    </option>
                    <option {{#cond sortby "ten_goi" }} selected {{/cond}}value="ten_goi">Sắp xếp: Tên</option>
                    <option {{#cond sortby "so_luong_san_pham" }} selected {{/cond}}value="so_luong_san_pham">Sắp xếp:
                        Số nhu yếu
                        phẩm</option>
                    <option {{#cond sortby "thoi_gian_tinh_toan" }} selected {{/cond}}value="thoi_gian_tinh_toan">Sắp
                        xếp: Thời gian
                    </option>
                    <option {{#cond sortby "status" }} selected {{/cond}}value="status">Sắp
                        xếp: Trạng thái
                    </option>
                </select>
            </div>
            <div class="col-2">
                <select name="asc" class="form-select form-select-md border border-secondary">
                    <option {{#cond asc "asc" }} selected {{/cond}} value="asc">Tăng dần</option>
                    <option {{#cond asc "desc" }} selected {{/cond}}value="desc">Giảm dần</option>
                </select>
            </div>
            <div class="col-1">
                <button class="btn btn-outline-primary align-self-center" type="submit"><i class="fa fa-search fa-lg"
                        aria-hidden="true"></i></button>
            </div>
            {{#cond role "manager"}}
            <div class="col-1 d-flex flex-row-reverse d-inline" style="width:111%">
                <a href="/product-package/add">
                    <button type="button" class="btn btn-primary d-flex "><i style="margin-top: 5px;"
                            class="fas fa-plus mr-2"></i>Thêm</button>
                </a>
            </div>
            {{/cond}}
        </form>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            {{#each packages}}
            <div class="col p-2">
                <div
                    class="cus-card h-100 w-100 shadow-sm border border-{{#cond status 1}}warning{{/cond}}{{#cond status 0}}danger{{/cond}}">
                    <img src={{url}} class="card-img-top">
                    {{#cond status 0}} <div class="label-top shadow-sm">Vô hiệu hóa</div>{{/cond}}
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-success"> {{so_luong_san_pham}} sản
                                phẩm</span>
                        </div>
                        <h5 class="card-title">{{ten_goi}}</h5>
                        <h6 class="card-title">Bạn cần {{thoi_gian}} {{muc_gioi_han_goi_string}} để mua lần tiếp theo kể
                            từ lần mua gần nhất</h6>
                        <div class="text-center my-4"> <a href="/product-package/detail/{{id_goi_nhu_yeu_pham}}"
                                class="btn btn-warning">Chi tiết</a> </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <nav aria-label="Page navigation example">
        {{{paginateHelper pagination paginationClass="pagination"}}}
    </nav>
</div>


{{!-- Model --}}
<link rel="stylesheet" href="/css/cart.css">
<div class="modal fade cart" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">

        <!-- Modal content-->
        <div class="modal-content rounded-4">
            <!-- <div class="modal-header">
                    <h4 class="modal-title text-left">Cart</h4>
                </div> -->
            <div class="modal-body">
                <h2>Shopping Cart</h2>
                <h4><span class="badge rounded-pill bg-light text-dark package-name">---</span></h4>

                <div class="shopping-cart p-2">

                    <div class="column-labels">
                        <label class="product-image">Image</label>
                        <label class="product-details">Product</label>
                        <label class="product-price">Price</label>
                        <label class="product-quantity">Quantity</label>
                        <!-- <label class="product-removal">Remove</label> -->
                        <label class="product-line-price">Total</label>
                    </div>

                    <form action="http://127.0.0.1:3000/payment/purchase" method="post">
                        <input type="text" name="packageId" value="0" hidden>

                        <div class="list-product">
                            <img src="https://www.freecodecamp.org/news/content/images/2020/05/loading-animation.gif"
                                alt="Đang tải..." class="w-100">
                        </div>

                        <div class="totals row">
                            <div class="pl-4 col-lg-4 col-md-6 col-mb-6 ml-auto">
                                <div class="totals-item text-right">
                                    <label>Subtotal </label>
                                    <div class="totals-value" id="cart-subtotal">0</div>
                                </div>
                                <button class="checkout" type="submit">Checkout</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="./js/jquery-3.6.0.min.js"></script>
<script src="/js/cart.js"></script>

<script type="text/javascript">
    function goBack() {
        window.history.back();
    }

</script>