<div class="container-fluid mt-5">
    <h1 class="mt-4">Chi tiết Gói Nhu Yếu Phẩm</h1>
    <button type="button" class="btn btn-lg btn-secondary align-self-center mb-3" onclick="goBack()">Trở
        lại</button>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="title">Tên Gói Nhu yếu phẩm</label>
                    <input type="text" class="form-control" readonly id="title" value='{{package.ten_goi}}'>
                </div>
                <div class="form-group">
                    <label for="basePrice">Thời gian tối thiểu đặt hàng</label>
                    <input type="text" class="form-control" readonly id="basePrice"
                        value='{{package.thoi_gian}} {{package.muc_gioi_han_goi_string}}'>
                </div>
                <div class="form-group">
                    <label for="description">Nhu yếu phẩm</label>
                    <table class="table table-bordered" style="width:95%">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" data-filter-control='select'>Tên nhu yếu phẩm</th>
                                <th scope="col">Hình ảnh </th>
                                <th scope="col">Giới hạn san phẩm cho một lần đặt</th>
                                <th scope="col" class="text-end"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>{{ten_sanpham}}</td>
                                <td><img style="width: 100px; height:100px" src={{url}}></td>
                                <td>{{gioi_han_san_pham}}</td>
                                <td class="text-end">
                                    <a href="/product/detail/{{id_nhu_yeu_pham}}" type="button"
                                        class="btn btn-light btn-small"><i class="bi bi-eye"></i>
                                        Chi tiết</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex ">
                    <a type="button" href="/product-package/edit/{{package.id_goi_nhu_yeu_pham}}"
                        class="btn btn-lg btn-primary align-self-center mr-5">Chỉnh
                        sửa</a>
                    <button type="button" class="btn btn-lg btn-danger align-self-center mr-5" data-toggle="modal"
                        data-target="#removeModal">Xóa</button>
                    <!-- Modal -->
                    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Vô hiệu hóa nhu yếu phẩm</h5>
                                    <button type="button" class="btn-danger" data-dismiss="modal" aria-label="Close">
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn vô hiệu hóa gói nhu yếu phẩm này không ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                                    <a class="btn btn-danger "
                                        href="/product-package/delete/{{package.id_goi_nhu_yeu_pham}}">Có</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>



        </div>
    </div>
</div>
<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>