<div class="container-fluid mt-3">
    {{#if success}}
    <div class="alert alert-success w-50 text-center m-auto" role="alert" id="message-alert">
        <strong>Thành công!</strong> {{success}}
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger w-50 text-center m-auto" role="alert" id="message-alert">
        <strong>Thất bại!</strong> {{error}}
    </div>
    {{/if}}
    <h1 class="mt-4">Chi tiết Gói Nhu Yếu Phẩm</h1>
    <button type="button" class="btn btn-lg btn-secondary align-self-center mb-3" onclick="goBack()">Trở
        lại</button>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="title">Tên Gói Nhu yếu phẩm</label>
                    <input type="text" class="form-control" readonly id="title" value='{{package.ten_goi}}'>
                </div>
                <div class="form-group">
                    <label for="basePrice">Thời gian tối thiểu đặt hàng</label>
                    <input type="text" class="form-control" readonly id="basePrice"
                        value='{{package.thoi_gian}} {{package.muc_gioi_han_goi_string}}'>
                </div>
                <div class="form-group">
                    <label for="description">Nhu yếu phẩm</label>
                    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                            {{#each products}}
                            <div class="col p-2">
                                <div
                                    class="cus-card h-100 w-100 shadow-sm border border-{{#cond status 1}}warning{{/cond}}{{#cond status 0}}danger{{/cond}}">
                                    <img src={{url}} class="card-img-top">
                                    {{#cond status 0}} <div class="label-top shadow-sm">Vô hiệu hóa</div>{{/cond}}
                                    <div class="card-body">
                                        <div class="clearfix mb-3"> <span
                                                class="float-start badge rounded-pill bg-success">{{#formatMoney
                                                gia_tien}}
                                                {{/formatMoney}}
                                                VND</span>
                                            <span class="float-end"><a href="#" class="small text-muted">Số lượng:
                                                    {{con_lai}}</a></span>
                                        </div>
                                        <h5 class="card-title">{{ten_sanpham}}</h5>

                                        <h6 class="card-title">Mô tả: <span>{{mo_ta}}</span>
                                        </h6>
                                        <br />
                                        <p class="card-title">Có thể mua tối đa {{gioi_han_san_pham}} sản phẩm</p>

                                        <div class="text-center my-4"> <a href="/product/detail/{{id_nhu_yeu_pham}}"
                                                class="btn btn-warning">Chi tiết</a> </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{#cond role "manager"}}
                <div class="d-flex ">
                    <a type="button" href="/product-package/edit/{{package.id_goi_nhu_yeu_pham}}"
                        class="btn btn-lg btn-primary align-self-center mr-5">Chỉnh
                        sửa</a>
                    {{#cond package.status 1}}
                    <button type="button" class="btn btn-lg btn-danger align-self-center mr-5" data-toggle="modal"
                        data-target="#removeModal">Vô hiệu hóa</button>
                    <!-- Modal -->
                    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Vô hiệu gói hóa nhu yếu phẩm
                                    </h5>
                                    <button type="button" class="btn-danger" data-dismiss="modal" aria-label="Close">
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn vô hiệu hóa gói nhu yếu phẩm này không ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                                    <a class="btn btn-danger "
                                        href="/product-package/disable/{{package.id_goi_nhu_yeu_pham}}">Có</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/cond }}
                    {{#cond package.status 0}}
                    <button type="button" class="btn btn-lg btn-success align-self-center mr-5" data-toggle="modal"
                        data-target="#removeModal">Kích hoạt</button>
                    <!-- Modal -->
                    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Kích hoạt gói nhu yếu phẩm
                                    </h5>
                                    <button type="button" class="btn-success" data-dismiss="modal" aria-label="Close">
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn kích hoạt gói nhu yếu phẩm này không ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                                    <a class="btn btn-success "
                                        href="/product-package/enable/{{package.id_goi_nhu_yeu_pham}}">Có</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/cond}}

                </div>
                {{/cond}}
                {{#cond role "user"}}
                <div class="d-flex justify-content-end">
                    <a type="button" href="#" class="btn btn-lg btn-primary align-self-center px-5 mr-5 btn-request-form"
                        data-toggle="modal" data-target="#myModal">Mua gói</a>
                </div>
                {{/cond}}
            </form>
        </div>
    </div>
</div>


{{!-- Model --}}
<link rel="stylesheet" href="/css/cart.css">
<div class="modal fade cart" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">

        <!-- Modal content-->
        <div class="modal-content rounded-4">
            <!-- <div class="modal-header">
                    <h4 class="modal-title text-left">Cart</h4>
                </div> -->
            <div class="modal-body">
                <h2>Shopping Cart</h2>
                <h4><span class="badge rounded-pill bg-light text-dark package-name">---</span></h4>

                <div class="shopping-cart p-2">

                    <div class="column-labels">
                        <label class="product-image">Image</label>
                        <label class="product-details">Product</label>
                        <label class="product-price">Price</label>
                        <label class="product-quantity">Quantity</label>
                        <!-- <label class="product-removal">Remove</label> -->
                        <label class="product-line-price">Total</label>
                    </div>

                    <form action="http://127.0.0.1:3000/payment/purchase" method="post">
                        <input type="text" name="packageId" value="{{package.id_goi_nhu_yeu_pham}}" hidden>

                        <div class="list-product">
                            <img src="https://www.freecodecamp.org/news/content/images/2020/05/loading-animation.gif"
                                alt="Đang tải..." class="w-100">
                        </div>

                        <div class="totals row">
                            <div class="pl-4 col-lg-4 col-md-6 col-mb-6 ml-auto">
                                <div class="totals-item text-right">
                                    <label>Subtotal </label>
                                    <div class="totals-value" id="cart-subtotal">0</div>
                                </div>
                                <button class="checkout" type="submit">Checkout</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/cart.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#message-alert").slideDown();
        window.setTimeout(function () {
            $("#message-alert").slideUp(500);
        }, 1500);
    });

    function goBack() {
        window.history.back();
    }
</script>