<link rel="stylesheet" href="/css/sb-admin-2.min.css">
<div id="content-wrapper" class="d-flex flex-column mt-5">
    <!-- Main Content -->
    <div id="content" class="content-statistical">

        <div class="statistic-info container-fluid col-lg-10 col-md-12 col-sm-12">
            <!-- Page Heading -->
            <div class="d-sm-flex justify-content-center py-2">
                <h1 class="h2 mb-0 text-gray-800 text-center">Thống kê thông tin nhu yếu phẩm</h1>
            </div>

            <div class="mt-2">
                <div class="">
                    <h3 class="">Dữ liệu tiêu thụ {{time}}</h3>

                    <div class="dropdown my-2">
                        <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mốc thời gian
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/statistic/product/today">Hôm nay</a></li>
                            <li><a class="dropdown-item" href="/statistic/product/this-month">Tháng này</a></li>
                            <li><a class="dropdown-item" href="/statistic/product/this-year">Năm này</a></li>
                            <li><a class="dropdown-item" href="/statistic/product/full-time">Toàn thời gian</a></li>
                        </ul>
                    </div>

                    <label>Cập nhật ngày: {{timeUpdate}}</label>
                </div>

                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="text-lg text-center font-weight-bold text-info text-uppercase mb-1">
                                    Số gói nhu yếu phẩm đã bán</div>
                                <div class="h5 mb-0 font-weight-bold text-center text-gray-800">{{numPackage}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="text-lg text-center font-weight-bold text-info text-uppercase mb-1">
                                    Số sản phẩm đã bán</div>
                                <div class="h5 mb-0 font-weight-bold text-center text-gray-800">{{numProd}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-2 mb-4">
                <div class="mb-3">
                    <h3 class="">Danh sách 10 gói nhu yếu phẩm bán chạy nhất</h3>
                </div>

                <table class="table table-bordered" id="package-Statistic-Table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id gói nhu yếu phẩm</th>
                            <th scope="col">Tên gói</th>
                            <th scope="col">Số lượng đã bán</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each packages}}
                        <tr>
                            <th scope="row">{{id_goi_nhu_cau_yeu_pham}}</th>
                            <td><a href="/product-package/detail/{{id_goi_nhu_cau_yeu_pham}}">{{ten_goi}}</a></td>
                            <td>{{so_luong}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i>
                            10 Gói nhu yếu phẩm bán chạy nhất
                        </div>
                        <div class="card-body"><canvas id="packageBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>

            <div class="mt-2 mb-4">
                <div class="mb-3">
                    <h3 class="">Danh sách 10 sản phẩm bán chạy nhất</h3>
                </div>

                <table class="table table-bordered" id="product-Statistic-Table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id sản phẩm</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Số lượng đã bán</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <th scope="row">{{id_san_pham}}</th>
                            <td><a href="/product/detail/{{id_san_pham}}">{{ten_sanpham}}</a></td>
                            <td>{{so_luong}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i>
                            10 sản phẩm bán chạy nhất
                        </div>
                        <div class="card-body"><canvas id="productBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
<script src="/js/chart/chart-bar-demo.js"></script>