<div class="row mb-3 mt-5">
    <div class="col-6">
        <h1> Danh sách bệnh nhân</h1>
    </div>
</div>
<div class="row mb-3 mt-5">
    <div class="row">
        <form action="/patient/filter?page=1" method="GET" class="form-inline md-form">
            <div class="col-2 m-0 pl-0">
                <input class="form-control mr-sm-2 border border-secondary " type="text" placeholder="Tìm kiếm theo tên"
                    aria-label="Search" name="search" value="{{search}}" style="width: 100%;">
            </div>
            <div class="col-2">
                <select name="tinh" class="form-select form-select-md border border-secondary ">
                    <option {{#cond tinh "All"}} selected {{/cond}} value="">Tỉnh</option>
                    {{#each tinh_place}}
                       <option {{#cond this.ten_tinh tinh}} selected {{/cond}}value="{{this.ten_tinh}}">{{this.ten_tinh}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-2">
                <select name="trangthai" class="form-select form-select-md border border-secondary ">
                    <option {{#cond trangthai -1}} selected {{/cond}} value="">Trạng thái</option>
                    <option {{#cond trangthai 0}} selected {{/cond}} value="0">F0</option>
                    <option {{#cond trangthai 1}} selected {{/cond}} value="1">F1</option>
                    <option {{#cond trangthai 2}} selected {{/cond}} value="2">F2</option>
                    <option {{#cond trangthai 3}} selected {{/cond}} value="3">F3</option>
                </select>
            </div>
            <div class="col-2">
                <select name="sortby" class="form-select form-select-md border border-secondary ">
                    <option {{#cond sortby "id_nhu_yeu_pham" }} selected {{/cond}} value="id_benh_nhan">Sắp xếp
                    </option>
                    <option {{#cond sortby "ho_ten" }} selected {{/cond}}value="ho_ten">Tên</option>
                    <option {{#cond sortby "nam_sinh" }} selected {{/cond}}value="nam_sinh">Năm sinh</option>
                    <option {{#cond sortby "trang_thai" }} selected {{/cond}}value="trang_thai">Trạng thái</option>
                </select>
            </div>
            <div class="col-2">
                <select name="asc" class="form-select form-select-md border border-secondary">
                    <option {{#cond asc "asc" }} selected {{/cond}} value="asc">Tăng dần</option>
                    <option {{#cond asc "desc" }} selected {{/cond}}value="desc">Giảm dần</option>
                </select>
            </div>
            <div class="col-1">
                <button class="btn btn-outline-primary align-self-center" type="submit"><i class="fa fa-search fa-lg"
                        aria-hidden="true"></i></button>
            </div>
            <div class="col-1">
                <a href="/patient/add">
                    <button type="button" class="btn btn-primary d-flex "><i style="margin-top: 5px;"
                            class="fas fa-plus mr-2"></i>Thêm
                    </button>
                </a>
            </div>
        </form>
    </div>

    <table class="table table-bordered" id="datatablesSimple">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Tên đầy đủ</th>
                <th scope="col">CMND</th>
                <th scope="col">Năm sinh</th>
                <th scope="col">Quê quán</th>
                <th scope="col">Trạng thái bệnh nhân</th>
                <th scope="col">Nơi điều trị hiện tại</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>

            {{#each patients}}
                <tr>
                <td>{{ho_ten}}</td>
                <td>{{cmnd}}</td>
                <td>{{nam_sinh}}</td>
                <td>{{tinh}}, {{huyen}}, {{xa}}</td>
                <td>F{{trang_thai}}</td>
                <td>{{tennoidieutri}}</td>
                <td class="text-end">
                    <a href="/patient/detail?id={{this.id_benh_nhan}}" type="button" class="btn btn-light btn-small"><i
                        class="bi bi-eye"
                    ></i>
                    Chi tiết</a>
                    <a href="/patient/change-state/{{this.id_benh_nhan}}" type="button" class="btn btn-light btn-small"><i
                        class="bi bi-pencil"
                    ></i>
                    Chuyển trạng thái</a>
                    <a href="/patient/change-place/{{this.id_benh_nhan}}" type="button" class="btn btn-light btn-small"><i
                        class="bi bi-pencil"
                    ></i>
                    Chuyển nơi điều trị</a>
                </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        {{{paginateHelper pagination paginationClass="pagination"}}}
    </nav>
</div>