<div class="row mb-3 mt-5">
    <div class="col-6">
        <h1> Danh sách nhu yếu phẩm</h1>
    </div>
</div>
<div class="row mb-3 mt-5">
    <div class="row">
        <div class="col-3">
            <div class="d-flex justify-content-between">
                <form action="/product/search?page=1" method="GET" class="form-inline md-form">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                        name="search">
                    <button class="btn btn-primary align-self-center" type="submit"><i class="fa fa-search fa-lg"
                            aria-hidden="true"></i></button>
                </form>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Giá
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/product">Tất cả</a>
                        <a class="dropdown-item" href="/product/filter?page=1&price=0">0 - 100000</a>
                        <a class="dropdown-item" href="/product/filter?page=1&price=100000">100000 - 200000</a>
                        <a class="dropdown-item" href="/product/filter?page=1&price=200000">200000 - 300000</a>
                        <a class="dropdown-item" href="/product/filter?page=1&price=300000">300000 - 400000</a>
                        <a class="dropdown-item" href="/product/filter?page=1&price=400000">400000 - 500000</a>
                        <a class="dropdown-item" href="/product/filter?page=1&price=500000">500000 - 600000</a>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-2 justify-content-end">
            <div class="d-flex justify-content-end ">
                <a href="/product/add">
                    <button type="button" class="btn btn-primary align-self-center"><i class="fas fa-plus mr-2"></i>Thêm
                        mới</button>
                </a>
            </div>
        </div>
    </div>

    <table class="table table-bordered w-100 ">
        <thead class="thead-dark">
            <tr>
                <th scope="col" data-filter-control='select'>Tên nhu yếu phẩm</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Giá tiền</th>
                <th scope="col">Đơn vị</th>
                <th scope="col">Số lượng </th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>

            {{#each products}}
            <tr>
                <td>{{ten_sanpham}}</td>
                <td><img style="width: 100px; height:100px" src={{url}}></td>
                <td>{{gia_tien}}</td>
                <td>{{don_vi}}</td>
                <td>{{con_lai}}</td>
                <td class="text-end">
                    <a href="/product/detail/{{id_nhu_yeu_pham}}" type="button" class="btn btn-light btn-small"><i
                            class="bi bi-eye"></i>
                        Chi tiết</a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        {{{paginateHelper pagination paginationClass="pagination"}}}
    </nav>
</div>